<h1 class="title">{{ctrl.msg}}</h1>
<aside class="aside-bar">
    <ul>
        <li ng-class="{'ui-active':$state.includes('hi')}">
            <a ui-sref="hi.test1">hi</a>
        </li>
        <li ng-class="{'ui-active':$state.includes('test')}">
            <a ui-sref="test.test1">test</a>
        </li>
    </ul>
</aside>
<section class="section">
    <ul class="nav clear-fix" ng-repeat="menu in ctrl.menu" ng-if="$state.includes(menu.name)">
        <li ng-repeat="item in menu.nav" ui-sref-active="ui-active">
            <a ui-sref="{{item.name}}">{{item.name}}</a>
        </li>
    </ul>
    <div ui-view class="main-view"></div>
</section>
<div id="viewMask" class="view-mask">
    <div class="progress progress-info progress-striped active">
        <div class="bar"></div>
    </div>
</div>